<a href="https://colab.research.google.com/github/annachristen/DA-Class-Notes-and-projects/blob/main/AC_Adv_Python_module_3_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [6]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [7]:
soup = BeautifulSoup(response,'html.parser')

In [23]:
#soup.find('table')
#soup.find('table').find_all('tr', class_='employee')[0].find_all('td')[1].text

In [36]:
name = []
id = []
age = []
for employee in soup.find('table').find_all('tr', class_='employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [39]:
age
id
name

['John Doe',
 'Jane Smith',
 'Robert Johnson',
 'Mary Johnson',
 'Michael Brown',
 'Susan Davis',
 'David Wilson',
 'Linda Miller']

In [47]:
df = pd.DataFrame({'id': id,
             'name': name,
             'age': age})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [48]:
df.head()

    id            name age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35

In [57]:
df['age'] = df['age'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      float64
dtypes: float64(1), object(2)
memory usage: 324.0+ bytes

In [58]:
ave_age = df['age'].mean()

In [59]:
ave_age

np.float64(29.875)

In [62]:
std_age = df['age'].std()
std_age
round(std_age,2)

3.56