#Exploratory Data Analysis on Wide World Importers
---
‚å® Anna Christensen

#About the data

---

Wide World Importers is a fake company that sells a variety of different products such as slippers, coffee mugs, and flash drives. The company has extensive records of invoices that have been created during the past several years and would like you, the data analyst, to explore the data to determine if there is anything noteworthy that executives should incorporate into their business strategy. However, because the data has been input over the years using several different programs, there are some holes in the data set that need "cleaning". The data will eventually be run through a machine learning model and thus cannot contain any null values.

You should perform the following cleaning steps as indicated in the questions below, in this order:

*  Fix standardization errors, where applicable
*  Fix business logic errors, where applicable
*  Impute null values, where possible
*  Drop columns with many null values, where applicable
*  Drop rows with null values, where applicable
*  Drop duplicate rows, where applicable
*  Identify outliers and fix them as instructed

---

The company would like you to answer the following questions, after cleaning has been performed:

* 1.Which customer has the most invoices?
* 2.Which item has the highest total quantity sold?
* 3.Which item has generated the most total profit?
* 4.Which item do customers purchase the most quantity of, on average?

#Analysis Questions

In [ ]:
import pandas as pd
df = pd.read_csv('/content/invoices_dirty.csv', low_memory=False)
df.head()

,InvoiceLineID,InvoiceID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy,LastEditedWhen,Customer
0,1,1,67.0,Ride on toy sedan car (Black) 1/12 scale,7,10,230.0,15,345.0,850.0,2645.0,7,NaN,Stuff by Stew
1,2,2,50.0,Developer joke mug - old C developers never di...,7,9,13.0,15,NaN,76.5,-999.0,7,1/1/2013 12:00,Wholesaler Plus
2,3,2,10.0,USB food flash drive - chocolate bar,7,9,32.0,15,43.2,180.0,331.2,7,NaN,Wholesaler Plus
3,4,3,114.0,Superhero action jacket (Blue) XXL,7,3,30.0,15,NaN,24.0,-999.0,7,NaN,Big Buys Retail
4,5,4,206.0,Permanent marker black 5mm nib (Black) 5mm,7,96,2.7,15,NaN,96.0,NaN,7,1/1/2013 12:00,Terry's Trinkets

1. How many rows does the data set have?

In [ ]:
df.shape

(230548, 14)

2. Which of the following columns contain null values?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230548 entries, 0 to 230547
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   InvoiceLineID   230548 non-null  int64
 1   InvoiceID       230548 non-null  int64
 2   StockItemID     230087 non-null  float64
 3   Description     229876 non-null  object
 4   PackageTypeID   230548 non-null  int64
 5   Quantity        230548 non-null  int64
 6   UnitPrice       230548 non-null  float64
 7   TaxRate         230548 non-null  int64
 8   TaxAmount       109623 non-null  float64
 9   LineProfit      230548 non-null  float64
 10  ExtendedPrice   113081 non-null  float64
 11  LastEditedBy    230548 non-null  int64
 12  LastEditedWhen  6 non-null       object
 13  Customer        230548 non-null  object
dtypes: float64(5), int64(6), object(3)
memory usage: 24.6+ MB

3. Compute the descriptive statistics on the data set. Which columns appear to have logical errors?

In [ ]:
df.describe()

,InvoiceLineID,InvoiceID,StockItemID,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy
count,230548.000000,230548.000000,230087.000000,230548.000000,230548.000000,230548.000000,230548.000000,109623.000000,230548.00000,113081.000000,230548.000000
mean,114127.066880,35177.386891,110.181827,7.073638,39.252524,45.539361,14.463409,113.328006,375.38894,740.092626,10.800480
std,65900.142929,20338.920057,63.722514,0.644528,55.193934,139.510031,3.904056,221.866696,753.17041,1705.229089,5.509623
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.660000,-15.000000,0.380000,-645.00000,-999.000000,2.000000
25%,57062.750000,17570.000000,54.000000,7.000000,5.000000,13.000000,15.000000,14.400000,51.00000,89.700000,6.000000
50%,114130.500000,35151.000000,111.000000,7.000000,10.000000,18.000000,15.000000,34.500000,120.00000,248.400000,11.000000
75%,171203.250000,52766.000000,165.000000,7.000000,60.000000,32.000000,15.000000,129.600000,390.00000,919.080000,16.000000
max,228265.000000,70510.000000,227.000000,10.000000,3150.000000,1899.000000,15.000000,14994.000000,9200.00000,114954.000000,20.000000

4. Why might a negative number in the LineProfit column not be considered a logic error?

*You can have a negative profit for a product.*

5. Fix standardization issues in the data set to determine which customer has created the most unique invoices. Which customer created the most invoices?

In [ ]:
df['Customer'].value_counts()

Customer
terry's trinkets       85593
stuff by stew          69820
stuf by stew           31984
wholesaler plus        15735
big buys retail        13461
terry's trinket         9483
dennis distribution     4472
Name: count, dtype: int64

In [ ]:
df['Customer_cleaned'] = df['Customer'].str.lower().str.strip()
corrections = {
    "stuf by stew": "stuff by stew",
    "terry's trinket": "terry's trinkets"
}
df['Customer_cleaned'] = df['Customer_cleaned'].replace(corrections)
df['Customer_final'] = (
    df['Customer_cleaned']
    .str.title()
    .str.replace("'S", "'s", regex=False)  # Fix apostrophes
)

print(df['Customer_final'].value_counts())

Customer_final
Stuff By Stew          101804
Terry's Trinkets        95076
Wholesaler Plus         15735
Big Buys Retail         13461
Dennis Distribution      4472
Name: count, dtype: int64

6. Observe the null values in the LastEditedWhen column. Based on the number of null values in the column and the questions being asked by executives, what do you recommend doing to eliminate null values?

In [ ]:
df['LastEditedWhen']

0                    NaN
1         1/1/2013 12:00
2                    NaN
3                    NaN
4         1/1/2013 12:00
               ...
230543               NaN
230544               NaN
230545               NaN
230546               NaN
230547               NaN
Name: LastEditedWhen, Length: 230548, dtype: object

*I would drop the column completely due to the amount of missing data. This column also will not play a integral part in the analyis so removing the data shouldn't impact the analyis.*

7. Perform the action that you recommended above. After performing the action, which column contains the most null values?

In [ ]:
df_cleaned = df.drop(columns=['LastEditedWhen'])
null_counts = df_cleaned.isnull().sum()
most_null_column = null_counts.idxmax()
most_null_count = null_counts.max()

most_null_column, most_null_count

('TaxAmount', 120925)

8. Observe the columns StockItemID and Description. Notice that StockItemID is a single number, and each number has a corresponding Description. Thus, by knowing the StockItemID of a row, its Description can be imputed. However, if both the StockItemID and Description are missing, the item is unknown.

How many rows have both a null StockItemID and a null Description?

In [ ]:
df_cleaned[['StockItemID', 'Description']]

        StockItemID                                        Description
0              67.0           Ride on toy sedan car (Black) 1/12 scale
1              50.0  Developer joke mug - old C developers never di...
2              10.0               USB food flash drive - chocolate bar
3             114.0                 Superhero action jacket (Blue) XXL
4             206.0         Permanent marker black 5mm nib (Black) 5mm
...             ...                                                ...
230543        139.0                        Furry animal socks (Pink) M
230544          9.0                      USB food flash drive - banana
230545        179.0              Shipping carton (Brown) 229x229x229mm
230546         20.0       DBA joke mug - you might be a DBA if (White)
230547         70.0           Ride on toy sedan car (Green) 1/12 scale

[230548 rows x 2 columns]

In [ ]:
missing_both = (df['StockItemID'].isnull() & df['Description'].isnull()).sum()
print(missing_both)

461

9. Observe the rows that have both a null StockItemID and a null Description. Based on the number of null values and the questions asked by the executives, what do you recommend doing to remove null values from these columns?

In [ ]:
df_cleaned[['StockItemID', 'Description']]

        StockItemID                                        Description
0              67.0           Ride on toy sedan car (Black) 1/12 scale
1              50.0  Developer joke mug - old C developers never di...
2              10.0               USB food flash drive - chocolate bar
3             114.0                 Superhero action jacket (Blue) XXL
4             206.0         Permanent marker black 5mm nib (Black) 5mm
...             ...                                                ...
230543        139.0                        Furry animal socks (Pink) M
230544          9.0                      USB food flash drive - banana
230545        179.0              Shipping carton (Brown) 229x229x229mm
230546         20.0       DBA joke mug - you might be a DBA if (White)
230547         70.0           Ride on toy sedan car (Green) 1/12 scale

[230548 rows x 2 columns]

*I recommend droping these rows because we cannot tell what item is being sold. In order for our anaylsis to be accurate we cannot have unidentified items.*

10. Perform the action that you recommended above. How many rows are left in the data frame?

In [ ]:
df_cleaned = df_cleaned.dropna(subset=['StockItemID', 'Description'], how='all')
remaining_rows = df_cleaned.shape[0]

remaining_rows

230087

11. Observe the TaxRate column, which contains some negative values. Based on your domain knowledge and best guess of what tax rates should be, which of the following actions might you recommend for preparing this data set for analysis?

In [ ]:
df_cleaned[['TaxRate']]

        TaxRate
0            15
1            15
2            15
3            15
4            15
...         ...
230543       15
230544       15
230545       15
230546       15
230547       15

[230087 rows x 1 columns]

In [ ]:
negative_taxrate_count = (df_cleaned['TaxRate'] < 0).sum()
negative_taxrate_values = df_cleaned[df_cleaned['TaxRate'] < 0]['TaxRate'].unique()

negative_taxrate_count, negative_taxrate_values

(np.int64(3946), array([-15, -10]))

*Negative tax rates are all -15 and -10, we should update all negative tax rates by adding -1 to them in order to make them positive*

12. Perform the action that you recommended above. What is the average TaxRate?

In [ ]:

df['TaxRate'] = df['TaxRate'].abs()

average_tax_rate = df['TaxRate'].mean()
round(average_tax_rate,2)

np.float64(14.98)

13. Observe the column TaxAmount, which indicates the amount of tax paid for each invoice line. The TaxAmount can be calculated using the following formula:

Tax Amount = unit price * Quanitity * tax rate / 100

Based on this knowledge, the number of null values in the data set, and the questions being asked by the executives, what do you recommend doing to remove null values from this column?

In [ ]:
df_cleaned[['TaxAmount']]

        TaxAmount
0          345.00
1             NaN
2           43.20
3             NaN
4             NaN
...           ...
230543      27.00
230544        NaN
230545        NaN
230546       1.95
230547        NaN

[230087 rows x 1 columns]

*I would recaluclate the missing tax amount as we have all the data to fix the missing information. we should do everything we can to provide the most up accurate representation of the data.*

14. Perform the action that you recommended above. What is the average TaxAmount after removing the null values?

In [ ]:

mask = df_cleaned['TaxAmount'].isna() & df_cleaned['UnitPrice'].notna() & df_cleaned['Quantity'].notna() & df_cleaned['TaxRate'].notna()


df_cleaned.loc[mask, 'TaxAmount'] = (
    df_cleaned.loc[mask, 'UnitPrice'] *
    df_cleaned.loc[mask, 'Quantity'] *
    df_cleaned.loc[mask, 'TaxRate'] / 100
)
average_taxamount = df_cleaned['TaxAmount'].dropna().mean()

round(average_taxamount,2)

np.float64(112.95)

15. Observe the column ExtendedPrice, which indicates the total price paid by the customer. The ExtendedPrice can be calculated using the following formula:

extended price = (unitprice * quantity) + tax amount

Based on this knowledge, the number of null values in the data set, and the questions being asked by the executives, what do you recommend doing to remove null values from this column?

*We should do the same thing as the missing tax amount. Using the unit price and quantity we should use the extended price formula to calculate te missing items*

16. Perform the action that you recommended above. Treat the values of -999 as an input error and perform the recommended action on that value as well. After addressing these issues, what is the average ExtendedPrice?

In [ ]:
df_cleaned.loc[df_cleaned['ExtendedPrice'] == -999, 'ExtendedPrice'] = pd.NA #Used chatgpt to help with this part
mask = df_cleaned['ExtendedPrice'].isna() & df_cleaned['UnitPrice'].notna() & df_cleaned['Quantity'].notna() & df_cleaned['TaxAmount'].notna()



df_cleaned.loc[mask, 'ExtendedPrice'] = (
    df_cleaned.loc[mask, 'UnitPrice'] *
    df_cleaned.loc[mask, 'Quantity'] +
    df_cleaned.loc[mask, 'TaxAmount']
)
average_extended_price = df_cleaned['ExtendedPrice'].dropna().mean()

round(average_extended_price,2)

np.float64(867.64)

17. Observe values in the Quantity and ExtendedPrice columns. Use the z-score method with a threshold of 3 to determine which rows are outliers in these columns. Make sure that you get rows that have a z-score greater than or equal to 3.

Based on the Quantity column, how many rows could be considered outliers?

In [ ]:
#couldnt figure it out, had to use Chatgpt to make it work

from scipy.stats import zscore
quantity_zscores = zscore(df_cleaned['Quantity'])
quantity_outliers = df_cleaned[quantity_zscores >= 3]
quantity_outlier_count = quantity_outliers.shape[0]

quantity_outlier_count

5987

18. Observe values in the Quantity and ExtendedPrice columns. Use the z-score method with a threshold of 3 to determine which rows are outliers in these columns. Make sure that you get rows that have a z-score greater than or equal to 3.

Based on the ExtendedPrice column, how many rows could be considered outliers?

In [ ]:
# Used Chatgpt to help find the z-scores
extendedprice_zscores = zscore(df_cleaned['ExtendedPrice'].dropna())
extendedprice_zscores = pd.Series(extendedprice_zscores, index=df_cleaned['ExtendedPrice'].dropna().index)
extendedprice_outliers = df_cleaned.loc[extendedprice_zscores[extendedprice_zscores >= 3].index]
extendedprice_outlier_count = extendedprice_outliers.shape[0]
extendedprice_outlier_count

4522

19. Based on your understanding of outliers and the answer above, choose the most appropriate action to handle the outliers in the ExtendedPrice column.

*That seems like a really high amount. It could be due to a number of items (over purchases, input error etc), but higher than the standard devation. We should keep them but flag them so they know that these could be pulling our data one way or another.*

20. The data set provided should have a unique ID for each invoice line, but there can be repeated invoice IDs. This is because several unique invoice lines can share the same invoice ID. Given this information, how would you approach checking for duplicate rows in the data set?

*We should search for duplicates using the invoicelineID since it should never be repeated. It is unique to each line items where invoiceId is unique to the invoice.*

21. Perform the action that you recommended above and drop duplicate rows from the data set. How many total rows are in the data set after performing this action?

In [ ]:
#find how many pulicates there are
duplicate_invoiceline_ids = df_cleaned[df_cleaned.duplicated(subset='InvoiceLineID')]
duplicate_invoiceline_count = duplicate_invoiceline_ids.shape[0]
duplicate_invoiceline_count

2276

In [ ]:
# remove duplicates
df_cleaned = df_cleaned.drop_duplicates(subset='InvoiceLineID', keep='first')
remaining_rows_after = df_cleaned.shape[0]
remaining_rows_after

227811

At this point, you should have a data set that is mostly free of null values (only has some null values in the Description column). Use this data set to answer the questions below.

In [ ]:
df_cleaned.to_csv("invoices_cleaned.csv", index=False) # saved cleaned file complete anaylsis with.

22.Which item has the highest total quantity sold? Use the Description and Quantity columns.

In [ ]:
total_quantity_per_item = df_cleaned.groupby('Description')['Quantity'].sum()
top_item_description = total_quantity_per_item.idxmax()
top_item_quantity = total_quantity_per_item.max()

top_item_description, top_item_quantity

('Black and orange fragile despatch tape 48mmx75m', 207108)

23. Which item has generated the most total profit? Use the Description and LineProfit columns.

In [ ]:
total_profit_per_item = df_cleaned.groupby('Description')['LineProfit'].sum()
top_profit_item_description = total_profit_per_item.idxmax()
top_profit_item_value = total_profit_per_item.max()

top_profit_item_description, round(top_profit_item_value, 2)

('20 mm Double sided bubble wrap 50m', 5283560.0)

24. Which item is purchased in greatest quantities in a single order, on average? Use the Quantity and Description columns.

In [ ]:
avg_quantity_per_item = df_cleaned.groupby('Description')['Quantity'].mean()
top_avg_quantity_item = avg_quantity_per_item.idxmax()
top_avg_quantity_value = avg_quantity_per_item.max()

top_avg_quantity_item, round(top_avg_quantity_value,2)

('Black and orange fragile despatch tape 48mmx75m', 199.53)

#Conclusion

After a through cleaning of the data we can see that the most purchases item is teh Black and Orange Fragile Despatch tape (48mm x 75mm). It has sold amost 200 units per invoice when ordered.

Knowing what is selling the most will help the purchase managers know what and when to buy more stock.